<nav>
  <div class="nav-wrapper nav-mobile customnavcolor">
    <a href="/" class="brand-logo customtext text center">Nibble</a>

     <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="customtext right hide-on-med-and-down">
      <% if(locals.isLoggedIn){ %>
        <li><a class="customtext" href='/users/<%= user._id %>'>Welcome <%= locals.user.name %></a></li>
        <li><a class="customtext" href='/users/<%= user._id %>'>My profile</a></li>
        <li><a class="customtext" href='/logout'>Logout</a></li>
        <li><a class="customtext" href='/restaurant/new'>Add a Restaurant</a></li>
      <% } else { %>
        <li><a class="customtext" href='/signin'>Login</a></li>
        <li><a class="customtext" href='/register'>Become a Nibbler</a></li>
    <% } %>
    </ul>


    <ul class="sidenav customSideNav" id="mobile-demo">
      <li><a href="/" class="customSideNav center">Nibble</a></li>
      <% if(locals.isLoggedIn){ %>
        <li><a class="customtext customSideNav" href='/users/<%= user._id %>'>My profile</a></li>
        <li><a class="customtext customSideNav" href='/logout'>Logout</a></li>
        <li><a class="customtext customSideNav" href='/restaurant/new'>Add a Restaurant</a></li>
      <% } else { %>
        <li><a class="customtext customSideNav" href='/signin'>Login</a></li>
        <li><a class="customtext customSideNav" href='/register'>Sign up</a></li>
        <li><a class="customtext customSideNav" href='/restaurant/new'>Add a Restaurant</a></li>
    <% } %>
    </ul>
  </div>
</nav>
