<h1><%= comment %></h1>

<table>
   <thead>
     <tr class='row rowHeight'>
       <th class='col s4 center-align'>Nibbler</th>
       <th class='col s6 center-align'>Review</th>
     </tr>
   </thead>
   <tbody>
         <tr class='row rowHeight'>
             <td class='col s1'>
                     <img src="" alt="" class="circle responsive-img">
             </td>
             <td class='col s5 center-align'>
               <div class="valign-wrapper">
                     <span class="black-text">
                      <%= comment.createdBy %>
                     </span>
               </div>
             </td>
             <td class='col s5'>
                   <span class="black-text">

                   </span>
             </td>
             <td class='col s1'>

             </td>
         </tr>
   </tbody>
</table>
