.rowHeight { height: 80px;}

.customnavcolor{
  background-color: #20457C;
  font-family: 'Fjalla One', sans-serif;
}

/* #3B3A35   #20457C   #5E3448   #FB6648   #ECDFBD */
.customimg {
  height: 500px;
}

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

nav div .customtext {
  color: #ECDFBD;
  font-family: 'Fjalla One', sans-serif;
}

nav div .customSideNav {
  background-color: #ECDFBD;
  color: #20457C;
  font-family: 'Fjalla One', sans-serif;
}

.customtext {
  color: #20457C;
  font-family: 'Fjalla One', sans-serif;
}

.customhighlighttext {
  color: #FB6648;
  font-family: 'Fjalla One', sans-serif;
}
