<h1>New User</h1>

<form class="" action="/register" method="POST">
  <div>
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
</div>
<div>
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
</div>
<div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
</div>
<div>
  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" name="passwordConfirmation" id="passwordConfirmation">
</div>
<div>
  <label for="isRestuarant">Restuarant?</label>
  <input type="text" name="isRestuarant" id="isRestuarant">
</div>
<div>
  <label for="address">address</label>
  <input type="text" name="address" id="address">
</div>
<div>
  <label for="city">city</label>
  <input type="text" name="city" id="city">
</div>
<div>
  <label for="cuisine">cuisine</label>
  <input type="text" name="cuisine" id="cuisine">
</div>
<div>
  <label for="comments">comments</label>
  <input type="text" name="comments" id="comments">
</div>
<button class="button">Register</button>
</form>
