<h1>New Restaurant</h1>

<form class="" action="/restaurant" method="POST">
  <div>
  <label for="restaurantName">Name</label>
  <input type="text" name="restaurantName" id="restaurantName">
</div>
<div>
  <label for="address">Address</label>
  <input type="text" name="address" id="address">
</div>
<div>
  <label for="city">City</label>
  <input type="text" name="city" id="city">
</div>
<div>
  <label for="cuisine">cuisine</label>
  <input type="text" name="cuisine" id="cuisine">
</div>
<div>
  <label for="comments">comments?</label>
  <input type="text" name="comments" id="comments">
</div>
<button class="button">Register</button>
</form>
