<div class="container">
  <h1 class="customtext">New Restaurant</h1>
  <% if(messages.danger){ %>
        <div class="col s12 l12">
          <div class="card error">
            <div class="card-content ">
              <span class="card-title"><%= messages.danger %></span>
            </div>
          </div>
        </div>
      <% } %>
  <form class="" action="/restaurant" method="POST">
    <div class='input-field'>
      <label for="restaurantName">Name</label>
      <input type="text" name="restaurantName" id="restaurantName" required>
    </div>
  <div class='input-field'>
    <label for="img">Image Url</label>
    <input type="text" name="img" id="img" required>
  </div>
  <div class='input-field'>
    <label for="address">Address</label>
    <input type="text" name="address" id="address">
  </div>
  <div class='input-field'>
    <label for="city">City</label>
    <input type="text" name="city" id="city">
  </div>
  <div class='input-field'>
    <label for="postcode">Postcode</label>
    <input type="text" name="city" id="city">
  </div>
  <div class="input-field col s12">
      <select  name="cuisine" id="cuisine">
        <option value="" disabled selected>Please choose one of the options</option>
        <option value="British">British</option>
        <option value="French">French</option>
        <option value="Indian">Indian</option>
        <option value="International">International</option>
        <option value="German">German</option>
        <option value="Japanese">Japanese</option>
        <option value="Chinese">Chinese</option>
      </select>
      <label>Cuisine</label>
    </div>
  <button class="green btn">Register</button>
  </form>
</div>
